.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.word-list-column {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}

.expanded-definition-column {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}